<app-header></app-header>
<div class="espaciado"></div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="p-5 shadow-one">
            <div class="d-flex justify-content-center">
                <img src="assets/img/icons/emoticon.png" alt="" height="60" width="auto" class="mr-3 drop">
                <h2 class="f-shadow-into-l tc-blue-two fs-40 fw-6 text-center text-shadow-one">CONTACTO</h2>
            </div>
            <form action="" class="f-open-sans-c">
                <input type="text" placeholder="Nombre" class="d-block w-100 bg-transparent text-light m-2 border-right-0 border-left-0 border-top-0 pl-2">
                <input type="email" placeholder="Email" class="d-block w-100 bg-transparent text-light m-2 border-right-0 border-left-0 border-top-0 pl-2">
                <input type="text" placeholder="Teléfono" class="d-block w-100 bg-transparent text-light m-2 border-right-0 border-left-0 border-top-0 pl-2">
                <input type="text" placeholder="Asunto" class="d-block w-100 bg-transparent text-light m-2 border-right-0 border-left-0 border-top-0 pl-2">
                <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje" class="mt-5 d-block w-100 bg-transparent text-light m-2 pl-2"></textarea>
                <button class="border-0 bgBase text-light pt-1 pb-1 pr-4 pl-4 f-shadow-into-l fs-20 shadow-three m-2 w-100">Enviar</button>
            </form>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="espaciado"></div>
<app-footer></app-footer>