<div class="espacio"></div>

<h1 class="fuenteTres text-light fs-50 text-center mb-2">CURRICULUM</h1>
<p class="fuenteUno text-light fs-20 text-center">
    Tómate tu tiempo y recuerda que es muy importante la veracidad de tus datos.<br>
    Tu información solo es para tu propio uso personal.
</p>
<form>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row mt-5">
                <div class="col-md-4 text-center text-light fuenteUno">
                    <div class="p3">
                        <p class="fuenteUno text-danger m-0 p-0">
                            Ingresa una foto sin fondo y en formato png
                        </p>
                    </div>
                    <img src="assets/img/items/no-image.png" alt="Foto persona" height="300" width="200">
                    <i class="d-block cp">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </i>
                </div>
                <div class="col-md-8">
                    <label for="" class="fuenteUno text-light m-0 p-0">
                        <small>
                            Primer nombre
                        </small>
                    </label>
                    <input type="text" name="PrimerNombre" placeholder="Primer nombre" class="w-100 fuenteUno text-light bg-transparent border-bottom">

                    <label for="" class="fuenteUno text-light m-0 p-0">
                        <small>
                            Segundo nombre
                        </small>
                    </label>
                    <input type="text" name="PrimerNombre" placeholder="Segundo nombre" class="w-100 fuenteUno text-light bg-transparent border-bottom">
                    <label for="" class="fuenteUno text-light m-0 p-0">
                        <small>
                            Primer apellido
                        </small>
                    </label>
                    <input type="text" name="PrimerNombre" placeholder="Primer apellido" class="w-100 fuenteUno text-light bg-transparent border-bottom">
                    <label for="" class="fuenteUno text-light m-0 p-0">
                        <small>
                            Segundo apellido
                        </small>
                    </label>
                    <input type="text" name="PrimerNombre" placeholder="Segundo apellido" class="w-100 fuenteUno text-light bg-transparent border-bottom">
                    <div class="espacio"></div>
                    <label for="" class="fuenteUno text-light m-0 p-0">
                        <small>
                            Tipo de documento de identidad
                        </small>
                    </label>
                    <input type="text" name="PrimerNombre" placeholder="Tipo de documento de identidad" class="w-100 fuenteUno text-light bg-transparent border-bottom">
                    <label for="" class="fuenteUno text-light m-0 p-0">
                        <small>
                            Número de documento de identidad
                        </small>
                    </label>
                    <input type="text" name="PrimerNombre" placeholder="Número de documento de identidad" class="w-100 fuenteUno text-light bg-transparent border-bottom">
                </div>
            </div>
            <div class="espacio"></div>
            <p class="fuenteUno text-light fs-50 text-center mb-2">1 de 5</p>
            <div class="text-right">
                <i class="text-light cp">
                    <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-right-square-fill" viewBox="0 0 16 16">
                        <path d="M0 14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12zm4.5-6.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5a.5.5 0 0 1 0-1z"/>
                    </svg>
                </i>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</form>
<div class="espaciado"></div>
