<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner text-center">
              <div class="carousel-item active" data-interval="15000">
                <h4 class="fuenteUno fw-3 text-light fs-40 typining">En asuntos laborales es imprescindible mostrar la mejor imagen.</h4>
              </div>
              <div class="carousel-item" data-interval="15000">
                <h4 class="fuenteUno fw-3 text-light fs-40 typining">Mejoremos la manera monótona del proceso.</h4>
              </div>
              <div class="carousel-item" data-interval="15000">
                <h4 class="fuenteUno fw-3 text-light fs-40 typining">La primera imagen es la más importante.</h4>
              </div>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>