<div>
    <app-header></app-header>
    <div class="espaciado"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
    
                </div>
                <div class="col-md-4">
                    <div class="p-5 text-center sombraUno">
                        <div class="p-5">
                            <img src="assets/img/icons/WORKFACE - blue.png" alt="" class="img-fluid drop">
                        </div>
                            <form [formGroup]="form">
                                <h3 *ngIf="ingreso" class="text-light f-shadow-into-l fs-30">INGRESAR</h3>
                                <h3 *ngIf="registro" class="text-light f-shadow-into-l fs-30">REGISTRAR</h3>
                                <h3 *ngIf="recordar" class="text-light f-shadow-into-l fs-30">RECORDAR CLAVE</h3>
                                <input class="f-open-sans-c text-light fw-3 w-100 mb-2 pl-2 bg-transparent" id="email" type="text" placeholder="Email" formControlName="email">
                                <input class="f-open-sans-c fw-3 w-100 mb-2 pl-2 text-light bg-transparent" type="password" placeholder="Clave"  formControlName="password">
                                <input class="f-open-sans-c fw-3 w-100 mb-3 pl-2 text-light bg-transparent" *ngIf="camposRegistrar" type="password" placeholder="Confirmar clave" formControlName="confirmPassword">
                                <div class="bg-danger" *ngIf="usuarioIncorrecto">
                                    <p class="text-light f-open-sans-c">USUARIO O CLAVE INCORRECTO</p>
                                </div>
                                <button class="text-light bg-transparent border-0 mb-4 f-open-sans-c fw-3" (click)="submit()">ENVIAR</button><br>

                                <a class="text-light fuenteUno fw-3 cursor-p" *ngIf="!ingreso" (click)="ingresar()">INGRESAR </a>
                                <a class="tc-blue-one f-open-sans-c fw-3 cursor-p" *ngIf="!registro" (click)="registrar()"> REGISTRAR</a><br>
                                <a href="http://" class="fuenteUno t3 fw-3" *ngIf="!camposRegistrar" (click)="recordarClave()">Recordar contraseña</a>
                                <button (click)="register()" *ngIf="camposRegistrar" class="w-100">REGISTRAR</button>
                                <div class="text-left cursor-p mt-3" *ngIf="camposRegistrar" title="Volver" (click)="volver()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left text-light" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                    </svg>
                                </div>
                            </form>
                            <div class="text-center mt-3" *ngIf="!camposRegistrar" >
                                <a href="http://" (click)="ingresarGoogle()">
                                    <img src="assets/img/icons/google-favicon.png" class="mx-auto drop mb-2 cursor-p" alt="" height="80" width="auto">
                                    <p class="text-light fuenteUno fw-3">INGRESAR CON GMAIL</p>
                                </a>
                            </div>
                        
                        <div *ngIf="mostrarOcultarRecordar">
                            <h3 class="text-light f-shadow-into-l fs-30">RECORDAR CLAVE</h3>
                            <form action="">
                                <input class="fuenteUno fw-3 t3 w-100 mb-2" type="text" placeholder="Correo">
                                <a href="inicio" class="text-light fuenteUno fw-3">ENVIAR</a><br>
                            </form>
                            <div class="text-left cursor-p mt-3" *ngIf="mostrarOcultarRecordar" title="Volver" (click)="volver()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left text-light" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="espaciado"></div>
    <div class="espaciado"></div>
    </div>
    
    