<app-header></app-header>
<div class="espaciado"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="fw-6 fs-40 f-open-sans-c text-light text-shadow-one">DESARROLLADORES</h2>
        
        <div class="border-botton w-100"></div>
        <div class="row">
            <div class="col text-center">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
                <p class="text-light f-open-sans-c fs-25">ALPHA</p>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
        </div>
        <div class="espacio"></div>

        <h2 class="fw-6 fs-40 f-open-sans-c text-light text-shadow-one">DISEÑADORES GRÁFICOS</h2>
        <div class="row">
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
        </div>
        <div class="espacio"></div>

        <h2 class="fw-6 fs-40 f-open-sans-c text-light text-shadow-one">ARQUITECTOS</h2>
        <div class="row">
            <div class="col text-center">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
                <p class="text-light f-open-sans-c fs-25">MEGA</p>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
            <div class="col">
                <a href="alpha">
                    <img src="" alt="" height="120" width="90">
                </a>
            </div>
        </div>
        <div class="espacio"></div>

        <h2 class="fw-6 fs-40 f-open-sans-c text-light text-shadow-one">BÁSICOS ELEGANTES</h2>
    </div>
    <div class="col-md-1"></div>
</div>