<div class="">
    <div class="btn-guardar">
        <button class="border-0 bgBase text-light pt-1 pb-1 pr-4 pl-4 f-open-sans-c fs-20 shadow-three mb-4" (click)="guardarImagenCuatro()">
            CAPTURAR IMAGEN
        </button>
    </div>
    <div class="espaciado"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="beta" class="anchoBase bgBeta">
                <div class="body-a">
                    <div class="content-avatar">
                        <img src="{{ contenido?.formBasic.fotoFrontalConFondo }}" alt="" width="400" height="300" class="avatar">
                    </div>
                    <div class="info-base bg-one">
                        
                    </div>
                
                </div>
                <div class="body-b">

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>