@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#beta{
    font-family: 'Montserrat', sans-serif;
}
.anchoBase{
    width: 1200px;
    height: 1740px;
}
.btn-guardar{
    position: fixed;
    right: 0;
    left: 25px;
    bottom: 25px;
    z-index: 3
}
.bgBase{
    background-color: #2d4399 !important;
}
.bgBeta{
    background: #000;
}
.bg-one{
    background: #393939;
}
.txt-one{
    color: #393939;
}
.txt-two{
    color:  #d49e20 !important;
}
.content-avatar{

}
.avatar{
    object-fit: cover;
}
.info-base{
    height: 1440px;
    border-radius: 0 20px 0 0;
}
.body-a{
    height: 1740px;
    width: 400px;
}
.body-b{

}
.bg-one{
    background: #d49e20 !important;
}