<div class="btn-guardar">
    <button class="border-0 bgBase text-light pt-1 pb-1 pr-4 pl-4 f-open-sans-c fs-20 shadow-three" (click)="guardarImagenTres()">
        GUARDAR
    </button>
</div>
<div class="espaciado"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div id="beta" class="shadow-one">
            <img src="https://tse1.mm.bing.net/th?id=OIP.j7_yyiBTb1GMbMh2fnvzKwHaLH&pid=Api&P=0" alt="" height="2000" width="1200">
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="espaciado"></div>