<app-header></app-header>
<div class="espaciado"></div>
<h1 class="fuenteTres text-light fs-50 text-center mb-5">PERFIL DE CUENTA</h1>
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="assets/img/items/persona-sin-fondo.png" alt="" width="auto" height="400" class="mx-auto">
                <div class="espacio"></div>
                <div class="mt-5 border p-5">
                    <p class="bg-primary fuenteTres text-center text-light fs-25 w-50 p-1 mx-auto">
                        CLIENTE PREMIUM
                    </p>
                    <p class="text-light fuenteUno">- !La versión premium te genera búsquedas automáticas de empleo y correos de ofertas directas¡</p>
                    <p class="text-light fuenteUno">- !Utilizar las últimas plantillas agregadas¡</p>
                </div>

            </div>
            <div class="col-md-8">
                <small class="fuenteUno t10 mt-3">Perfil</small>
                <h3 class="fuenteUno fs-80 text-success">100%</h3>

                <small class="fuenteUno t10 mt-3">Nombre</small>
                <h3 class="fuenteUno text-light">Claudia Andrea Serna Monsalve</h3>

                <small class="fuenteUno t10 mt-3">Efectividad de FACEWORK</small>
                <h3 class="fuenteUno text-light">★★★★★</h3>

                <small class="fuenteUno t10 mt-3">Estado laboral</small>
                <h3 class="fuenteUno text-light">(Activa) <strong>Ingenieros SAS</strong></h3>

                <small class="fuenteUno t10 mt-3">Plantillas favoritas</small>
                <div class="d-flex">
                    <div class="m-2 text-center">
                        <img src="assets/img/items/demo_formato_1.jpg" alt="" class="d-block cp">
                        <b class="fuenteUno t10 fs-20">B2</b>
                    </div>
                    <div class="m-2 text-center">
                        <img src="assets/img/items/demo_formato_2.jpg" alt="" class="d-block cp">
                        <b class="fuenteUno t10 fs-20">B3</b>
                    </div>
                    <div class="m-2 text-center">
                        <a href="assets/img/items/web - 007.png" target="_blank">
                            <img src="assets/img/items/demo_formato_3.jpg" alt="" class="d-block cp">
                            <b class="fuenteUno t10 fs-20">B4</b>
                        </a>
                    </div>
                </div>
                <div class="mt-5">
                    <p class="bg-primary fuenteTres text-center text-light fs-25 w-50 p-1 shadow-sm cp ">
                        BUSCAR DISEÑOS
                    </p>
                </div>
                <div class="mt-3">
                    <a href="form-one">
                        <p class="bg-success fuenteTres text-center text-light fs-25 w-50 p-1 shadow-sm cp ">
                            EDITAR CURRICULUM
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="espaciado"></div>
