@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-base: #2d4399;
}

#alpha{
    font-family: 'Montserrat', sans-serif;
}

.fuenteBase{
    font-family: 'Russo One', sans-serif;
}
.fuenteDos{
    font-family: 'Montserrat', sans-serif;
}

.colorBase{
    color: var(--color-base);
}
.bgBase{
    background-color: #2d4399 !important;
}
.fuenteCuatro {
    font-family: 'Kanit', sans-serif;
}
.anchoBase{
    width: 1200px;
    height: 1740px;
}
.marcofoto{
    border-radius: 50%;
    height: 80px;
    width: 80px;
}
.btn-guardar{
    position: fixed;
    right: 0;
    left: 25px;
    bottom: 25px;
    z-index: 3
}
.texto-general{
    line-height: 1.3;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 17px;
}
.body-a {
    height:840px;
    width: 1200px;
}
.body-b {
    height: 900px;
    width: 1200px;
    background-color: white;
}
.perfil-a {
    height: 900px;
    width: 350px;
    padding: 45px;
}
.perfil-b {
    height: 875px;
    width: 342px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.avatar {
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 0 0 10px;
}
.cargo{
    padding: 10px 20px 10px 20px
}
.fondoAlpha{
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.alturaNombre{
    height: 125px;
}
.experiencia-educacion{
    width: 833px;
}
.red{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.redes{
    padding: 45px;
}
.hobbies{
    padding: 45px;
}

.bg-one{
    background: #293e97 !important;
}
.bg-two{
    background: #d81f27 !important;
}
.bg-three{
    background: #dbde1f !important;
}
.bg-four{
    background: #f17b1f !important;
}
.bg-five{
    background: #129647 !important;
}
.txt-one{
    color: #293e97 !important;
}
.txt-inver-one{
    color:#fff
}
.txt-two{
    color: #d81f27 !important;
}
.txt-inver-two{
    color:#fff
}
.txt-three{
    color: #dbde1f !important;
}
.txt-inver-three{
    color:#212529
}
.txt-four{
    color: #f17b1f !important;
}
.txt-inver-four{
    color:#fff
}
.txt-five{
    color: #129647 !important;
}
.txt-inver-five{
    color:#fff
}
.circulo{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.altura-trabajo{
    height: 200px;
    overflow: hidden;
}
.altura-estudio{
    height: 200px;
    overflow: hidden;
}