<app-header></app-header>
<div class="">
    <div class="btn-guardar">
        <button class="border-0 bgBase text-light pt-1 pb-1 pr-4 pl-4 f-open-sans-c fs-20 shadow-three" (click)="guardarImagenCuatro()">
            GUARDAR
        </button>
    </div>
    <div class="espaciado"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="alpha" #alpha class="anchoBase bg-dark shadow-one">
                <div class="body-a">
                    <div class="perfil-a ml-4">
                        <img src="{{ this.avatar }}" alt="Esta es la imagen de presentación del usuario" width="240" height="240" class="avatar">
                    </div>
                    <img id="imgPrueba" src="" alt="">
                </div>
                <div class="body-b">
                    <div class="perfil-b ml-4">
                        <img src="{{this.fondo}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="espaciado"></div>

</div>
