<app-header></app-header>
<div class="">
    <div class="btn-guardar">
        <button class="border-0 bgBase text-light pt-1 pb-1 pr-4 pl-4 f-open-sans-c fs-20 shadow-three" (click)="guardarImagenCuatro()">
            GUARDAR
        </button>
    </div>
    <div class="espaciado"></div>
    <div id="alpha" #alpha class="anchoBase bg-dark shadow-one">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ this.fondo }}" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8 p-5">
                <h3 class="fuenteDos text-light fs-25 mb-3">SOBRE MÍ</h3>
                <p class="text-light texto-general mb-5">
                    {{ this.datosGenerales?.formBasic.acercaDMi}}
                </p>

                <h3 class="fuenteDos text-light fs-25 mt-5 mb-3">HABILIDADES</h3>
                <p class="text-light m-0 fw-6 fuenteDos fs-15">ILLUSTRATOR</p>

                <div class="espacio"></div>

                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum illo iste mollitia quis? Ullam at, culpa voluptatum blanditiis fugiat impedit sit repudiandae iusto aliquid perferendis rerum. Aliquam ea sed voluptas?</h2>

            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-3 flotador-uno bgBase">
                <div class="text-center ">
                    <img src="https://img.freepik.com/fotos-premium/vista-frontal-hombre-cara-seria_23-2148364723.jpg" class="mt-5 mb-4 foto" alt="" height="200" width="200">
                </div>
                <div class="p-4">
                    <p class="text-light m-0 fw-6 fuenteDos fs-15">FN:</p>
                    <p class="text-light fuenteDos fs-15 mb-4">{{ this.datosGenerales?.formBasic.fechaNacimiento }}</p>
                    
                    <p class="text-light m-0 fw-6 fuenteDos fs-15">Dirección:</p>
                    <p class="text-light fuenteDos mb-4 fs-15">{{ this.datosGenerales?.formBasic.direccionResidencia }}</p>

                    <p class="text-light m-0 fw-6 fuenteDos fs-15">Teléfono:</p>
                    <p class="text-light fuenteDos mb-4 fs-15">{{ this.datosGenerales?.formBasic.direccionResidencia }}</p>

                    <p class="text-light m-0 fw-6 fuenteDos fs-15">Email:</p>
                    <p class="text-light fuenteDos mb-4 fs-15">{{ this.datosGenerales?.formBasic.email }}</p>

                    <p class="text-light m-0 fw-6 fuenteDos fs-15">Web:</p>
                    <p class="text-lig..........................................................ht fuenteDos mb-4 fs-15">{{ this.datosGenerales?.formBasic.webSite }}</p>

                </div>

                <div class="espaciado"></div>
            </div>
            <div class="col-md-9 flotador-dos">
                <div class="espaciado"></div>
                <h1 class="fuenteCuatro text-uppercase fw-8 fs-70 text-light">{{ this.datosGenerales?.formBasic.primerNombre }} {{ this.datosGenerales?.formBasic.primerApellido }}</h1>
                <div class="d-flex">
                    <div class="bgBase style-cargo">
                        <p class="text-light text-uppercase fw-5 fuenteDos fs-25 m-0">{{ this.datosGenerales?.formBasic.cargoActual }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="espaciado"></div>
    <div id="download">
        <img #canvas>
        <a #downloadLink></a>
      </div>
</div>
