<div class="espacio"></div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h3 class="text-light fs-40 f-shadow-into-l border-button">TEAM => </h3>
        <div class="w-100 d-flex justify-content-around align-self-center pl-5 pr-5">
            <div class="colaboradores">
                <img src="assets/img/items/kleider.jpg" alt="" height="130" width="130" class="b-r50 obj-fit drop"><br>
                <img src="assets/img/items/firma3.png" alt="" height="120" width="auto" class="b-r50 obj-fit">
            </div>
            <div class="colaboradores">
                <img src="assets/img/items/santiago.jpg" alt="" height="130" width="130" class="b-r50 obj-fit drop"><br>
                <img src="assets/img/items/firma3.png" alt="" height="120" width="auto" class="b-r50 obj-fit">
            </div>
            <div class="colaboradores">
                <img src="assets/img/items/alex-comic.jpg" alt="" height="130" width="130" class="b-r50 obj-fit drop"><br>
                <img src="assets/img/items/firma3.png" alt="" height="120" width="auto" class="b-r50 obj-fit">
            </div>
        </div>
        <div class="espacio"></div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-1"></div>
</div>