
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        
        <form [formGroup]="formBasic">
            <div id="carousel-form" class="carousel slide" data-touch="false" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-form" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-form" data-slide-to="1"></li>
                    <li data-target="#carousel-form" data-slide-to="2"></li>
                    <li data-target="#carousel-form" data-slide-to="3"></li>
                </ol>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="carousel-inner pr-4">
                            <div class="carousel-item active">
                                <div class="espaciado"></div>
                                <div class="shadow-two bg-black p-5">
                                    <h3 class="f-open-sans-c ls-5 fw-6 fs-50 text-light text-center text-shadow-one">NOMBRE COMPLETO</h3>
                                    <label class="estiloLabel f-open-sans-c p-1">Primer nombre<span class="text-danger">*</span></label>
                                    <input class="f-open-sans-c w-100 fw-3 fs-17 mb-2 pl-2 estilo-input" type="text" formControlName="primerNombre">

                                    <label class="estiloLabel f-open-sans-c p-1">Segundo nombre</label>
                                    <input class="f-open-sans-c w-100 fw-3 fs-17 mb-2 pl-2 estilo-input" type="text"formControlName="segundoNombre">

                                    <label class="estiloLabel f-open-sans-c p-1">Primer apellido<span class="text-danger">*</span></label>
                                    <input class="f-open-sans-c w-100 fw-3 fs-17 mb-2 pl-2 estilo-input" type="text" formControlName="primerApellido">

                                    <label class="estiloLabel f-open-sans-c p-1">Segundo apellido</label>
                                    <input class="f-open-sans-c w-100 fw-3 fs-17 mb-2 pl-2 estilo-input" type="text" formControlName="segundoApellido">
                                </div>

                                <div class="espaciado"></div>
                            </div>
                            
                            <div class="carousel-item">
                                <div class="espaciado"></div>
                                <div class="shadow-two bg-black p-5">
                                    <h3 class="f-open-sans-c ls-5 fw-6 fs-50 text-light text-center text-shadow-one">IDENTIFICACIÓN</h3>
                                    
                                    <label class="estiloLabel f-open-sans-c p-1">Tipo documento<span class="text-danger">*</span></label>
                                    <select class="f-open-sans-c w-100 estilo-input tc-yellow-one bg-transparent-one mb-2" name="state" formControlName="tipoIdentificacion">
                                        <option value="">---Seleccione---</option>
                                        <option *ngFor="let tipoIden of listaTipoIdentificacion" value="">{{ tipoIden.label}}</option>
                                    </select>
                                    
                                    <label class="estiloLabel f-open-sans-c p-1">Identificación<span class="text-danger">*</span></label>
                                    <input class="f-open-sans-c w-100 fw-3 mb-2 pl-2 estilo-input" type="text" formControlName="identificacion">
                                    
                                    
                                    <label class="estiloLabel f-open-sans-c p-1">Nacionalidad<span class="text-danger">*</span></label>
                                    <select class="f-open-sans-c w-100 estilo-input tc-yellow-one bg-transparent-one" name="state" formControlName="nacionalidad">
                                        <option value="">---Seleccione---</option>
                                        <option *ngFor="let pais of paises" value="">{{ pais.pais}}</option>
                                    </select>
                                </div>
                                <div class="espaciado"></div>
                            </div>
                            
                            <div class="carousel-item">
                                <div class="espaciado"></div>
                                <div class="shadow-two bg-black p-5">
                                    <h3 class="f-open-sans-c ls-5 fw-6 fs-50 text-light text-center text-shadow-one">NACIMIENTO</h3>
                                    <label class="estiloLabel f-open-sans-c p-1">Fecha de nacimiento<span class="text-danger">*</span></label>
                                    <input class="f-open-sans-c w-100 fw-3 mb-2 pl-2 estilo-input" type="date" formControlName="fechaNacimiento">
                                    <label class="estiloLabel f-open-sans-c p-1">Lugar de nacimiento<span class="text-danger">*</span></label>
                                    <input class="f-open-sans-c w-100 fw-3 mb-2 pl-2 estilo-input" type="text" formControlName="ciudadNacimiento">
                                    <label class="estiloLabel f-open-sans-c p-1">Género<span class="text-danger">*</span></label>
                                    <select class="f-open-sans-c w-100 tc-yellow-one estilo-input bg-black" name="state" formControlName="genero">
                                        <option value="">---Seleccione---</option>
                                        <option value="">Femenino</option>
                                        <option value="">Masculino</option>
                                        <option value="">Transgénero</option>
                                    </select>
                                </div>
                                <div class="espaciado"></div>
                            </div>
                            
                            <div class="carousel-item">
                                <div class="espaciado"></div>
                                <div class="shadow-two bg-black p-5">
                                    <h3 class="f-open-sans-c ls-5 fw-6 fs-50 text-light text-center text-shadow-one">CONTACTO</h3>
                                    <input class="f-open-sans-c w-50 fw-3 mb-2 pl-2 estilo-input" type="text" placeholder="Dirección Residencia" formControlName="direccionResidencia">
                                    <input class="f-open-sans-c w-50 fw-3 mb-2 pl-2 estilo-input" type="text" placeholder="Barrio Residencia" formControlName="barrioResidencia">
                                    <input class="f-open-sans-c w-50 fw-3 mb-2 pl-2 estilo-input" type="text" placeholder="Número Fijo" formControlName="telFijo">
                                    <input class="f-open-sans-c w-50 fw-3 mb-2 pl-2 estilo-input" type="text" placeholder="Número Móvil" formControlName="telCel">
                                    <input class="f-open-sans-c w-50 fw-3 mb-2 pl-2 estilo-input" type="text" placeholder="Email" formControlName="email">
                                </div>
                                
                                <div class="espaciado"></div>
                            </div>
                            <div class="carousel-item">
                                <div class="espaciado"></div>
                                <div class="shadow-two">
                                    <h3 class="f-open-sans-c ls-5 fw-6 fs-50 text-light text-center text-shadow-one">ESTUDIOS</h3>
                                    <ng-container formGroupName="estudios">
                                        <label class="estiloLabel f-open-sans-c p-1">Email<span class="text-danger">*</span></label>
                                        <input class="f-open-sans-c w-100 fw-3 mb-2 pl-2 estilo-input" type="text" formControlName="email">

                                    </ng-container>
                                </div>
                                <div class="espaciado"></div>
                            </div>
                        </div>
                </div>
                <div class="col-md-2"></div>
            </div>




                        <button class="carousel-control-prev border-0 bg-cero" type="button" data-target="#carousel-form" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next border-0 bg-cero" type="button" data-target="#carousel-form" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </button>
                    </div>

        </form>
    </div>
    <div class="col-md-1"></div>
</div>
