.estilo-input {
    background: transparent;
    color: white;
    border-top: none;
    border-right: none;
    border-left: 0.3px solid gray;
    border-bottom: 0.3px solid gray;
}
.estiloLabel{
    color: black;
    background-color: #fff;
    font-size: 13px;
    position: relative;
    height: 20px;
    line-height: 1;
    border-radius: 5px;
}
